body {
  padding-top: 57px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

.table .clickable-row {
  cursor: pointer; }

.h6, .h5, .h4, .h3, .h2, .h1, h6, h5, h4, h3, h2, h1 {
  font-weight: normal; }

.h1, h1 {
  font-size: 2.25rem;
  font-weight: lighter; }

.h2, h2 {
  font-size: 1.95rem;
  font-weight: lighter; }

.h3, h3 {
  font-size: 1.75rem; }

th {
  font-weight: normal; }

.breadcrumb {
  background-color: transparent !important; }

.navbar {
  border-bottom: 1px solid #DADADA; }
  .navbar .brand-logo {
    margin-top: -7px; }

div.dataTables_filter {
  text-align: left; }
  div.dataTables_filter input {
    margin-left: 0 !important; }

div.dataTables_length {
  text-align: right; }

.input-group-addon, .form-control {
  border-radius: 0; }

.select2-selection {
  padding: 3px 0;
  height: 38px !important;
  border-radius: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px !important; }

.select2-dropdown {
  border: 1px solid rgba(0, 0, 0, 0.15) !important; }

