@using Microsoft.AspNetCore.Identity
@using Termoservis.DAL;
@using Termoservis.Models;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "form-inline"}))
	{
        @Html.AntiForgeryToken()
        @*@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage", @class = "nav-item nav-link"})*@
        <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-item nav-link">Log off</a>
	}
}
else
{
    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink", @class = "nav-item nav-link"})
    @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink", @class = "nav-item nav-link"})
}
