@page
@model Termoservis.Pages.IndexModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
</head>
<body>
<div>Hello from .NET Core on Linux!</div>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</body>
</html>
